<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
    <key>Label</key>
    <string>com.morningMail</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/guillaume/AlgoTrading/macOS_scripts/auto.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>8</integer>
        <key>Minute</key>
        <integer>5</integer>
    </dict>
<!--<key>StandardOutPath</key>
    <string>/Users/username/out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/username/error.log</string> uncomment if need for trouble shouting-->
</dict>

</plist>